@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}

.gradient-text {
  background: linear-gradient(90deg,#2563eb,#06b6d4,#ec4899);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}